<div class="bg-[#e2edf5ff] bg-repeat bg-contain w-screen h-screen overflow-hidden" style="background-image: url(../../assets/svg/fondocorazones.svg);">
  <div class="flex flex-col gap-2 h-full">
    <img src="../../assets/svg/guirnalda.svg">
    <div class="p-4 grid grid-cols-1 md:grid-cols-2 gap-4 w-full h-full">
      <div class="flex h-full items-center justify-center hidden md:block">
        <img src="../../assets/svg/regalos.svg" style="height: 29rem">
      </div>
      <div class="bg-white h-full rounded-xl p-4">
        <div class="h-full border-2 border-dashed	border-[#bbcddb]">
          <div class="w-full p-6 h-full">
            <h1 class="fontAtma text-center text-4xl text-[#59768eff] mb-8">Lista de regalos</h1>
            <div class="flex flex-col gap-6 overflow-y-auto">
              <p class="fontPopiins text-3xl font-normal text-[#59768eff]">
                • Teteros / Mamaderas
              </p>
              <p class="fontPopiins text-3xl font-normal text-[#59768eff]">
                • Cojin de lactancia
              </p>
              <p class="fontPopiins text-3xl font-normal text-[#59768eff]">
                • Bañera
              </p>
              <p class="fontPopiins text-3xl font-normal text-[#59768eff]">
                • Set de artículos de higiene y cuidado
              </p>
              <p class="fontPopiins text-3xl font-normal text-[#59768eff]">
                • Pañales de tela / Tutos
              </p>
              <p class="fontPopiins text-3xl font-normal text-[#59768eff]">
                • Mantas o frazadas
              </p>
              <p class="fontPopiins text-3xl font-normal text-[#59768eff]">
                • Mantas o frazadas
              </p>
              <p class="fontPopiins text-3xl font-normal text-[#59768eff]">
                • Pañales talla P
              </p>
              <p class="fontPopiins text-3xl font-normal text-[#59768eff]">
                • Pañales talla M
              </p>
              <p class="fontPopiins text-3xl font-normal text-[#59768eff]">
                • Ropa de 3 a 6 meses
              </p>
              <p class="fontPopiins text-3xl font-normal text-[#59768eff]">
                • Ropa de 6-9 meses
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="p-4 flex mx-10 bg-white h-full rounded-xl">
      <div class="h-full border-2 border-dashed	border-[#bbcddb] w-full p-6">
        <div class="flex gap-8 h-full">
          <div class="flex items-center justify-center hidden md:block">
            <img class="w-56" src="../../assets/svg/jirafa.svg">
          </div>
          <div class="w-full">
            <h1 class="fontAtma text-center text-4xl text-[#59768eff] mb-8">Lista de regalos</h1>
            <div class="flex gap-4 flex-wrap ">
              <p class="fontPopiins text-3xl font-normal text-[#59768eff]">
                - Teteros / Mamaderas
              </p>
              <p class="fontPopiins text-3xl font-normal text-[#59768eff]">
                - Cojin de lactancia
              </p>
              <p class="fontPopiins text-3xl font-normal text-[#59768eff]">
                - Bañera
              </p>
              <p class="fontPopiins text-3xl font-normal text-[#59768eff]">
                - Set de artículos de higiene y cuidado
              </p>
              <p class="fontPopiins text-3xl font-normal text-[#59768eff]">
                - Pañales de tela / Tutos
              </p>
              <p class="fontPopiins text-3xl font-normal text-[#59768eff]">
                - Mantas o frazadas
              </p>
              <p class="fontPopiins text-3xl font-normal text-[#59768eff]">
                - Mantas o frazadas
              </p>
              <p class="fontPopiins text-3xl font-normal text-[#59768eff]">
                - Pañales talla P
              </p>
              <p class="fontPopiins text-3xl font-normal text-[#59768eff]">
                - Pañales talla M
              </p>
              <p class="fontPopiins text-3xl font-normal text-[#59768eff]">
                - Ropa de 3 a 6 meses
              </p>
              <p class="fontPopiins text-3xl font-normal text-[#59768eff]">
                - Ropa de 6-9 meses
              </p>
            </div>
          </div>
        </div>
      </div>

    </div> -->
  </div>
</div>
