<div class="grid grid-cols-1 md:grid-cols-2 gap-2 w-full bg-[#e2edf5ff]">
  <img class="w-full h-full" src="../../assets/svg/fondo1.svg">
  <div class="flex flex-col justify-between">
    <div class="flex flex-col gap-4 p-6">
      <div class="flex flex-col items-end gap-4 p-6">
        <h1 class="fontAtma text-7xl text-[#59768eff] text-right">Baby shower Enzo</h1>
        <p class="fontPoppins text-sm text-[#59768eff] text-right">Celebra con nostros este dia tan especial. <br>
        Puedes elegir cualquiera de los siguientes <br>
        regalos para baby Enzo.</p>
        <button class="px-6 py-4 text-sm rounded-full fontPoppins font-medium text-white bg-[#59768eff]" routerLink="/lista-regalos">
          LISTA DE REGALOS
        </button>
      </div>
      <div class="flex gap-4 p-6 justify-center items-center">
        <div class="flex flex-col gap-1 ">
          <p class="fontPoppins font-medium text-7xl text-[#59768eff]">21</p>
          <p class="fontPoppins font-normal text-xl text-[#59768eff]">ENERO</p>
        </div>
        <div class="border-r-2 border-r-[#59768eff] h-full"></div>
        <div class="fontPoppins font-normal text-[#59768eff] text-sm">
          Hipodromo Chile 1876 <br>
          Salon Gourmet <br>
          18:00 Hrs. / 22:00 Hrs.
        </div>
      </div>
    </div>
    <img src="../../assets/svg/fondo2.svg" class="w-fit">
  </div>
</div>
